/* styles.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
:root {
  --clr: #222327;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--clr);
  }
  
  h1{text-align: center;
     font-family: 'Times New Roman';
}
.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  background-color: #858585;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--clr);
}
.navigation ul li.active a .icon {
  transform: translateY(-32px);
}
.navigation ul li a .text {
  position: absolute;
  color: var(--clr);
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}
.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background-color: #000000;
  border-radius: 50%;
  border: 6px solid var(--clr);
  transition: 0.5s;
}
.indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 20px;
  box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-left-radius: 20px;
  box-shadow: -1px -10px 0 0 var(--clr);
}
.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
main {
    padding: 20px;
    background-image: url('WhatsApp Image 2024-11-11 at 21.16.39_7ed4ef87.jpg');
  }
  
  form {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  #bookingInfo {
    border: 1px solid #ccc;
    padding: 20px;
    display: none;
    margin-bottom: 20px;
  }
  
  #bookingTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  #bookingTable caption {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  #bookingTable th, #bookingTable td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  footer {
    background-color: #807e7b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  caption{
    font-weight: bolder;
  }

